/* https://github.com/A-l-E-v/PHP_Synergy/blob/main/U-24/style.css */

.form-horizontal{
    background: transparent;
    border: 2px, solid, darkblue;
    width: 25%;
    padding: 20px;
    margin: 10px;
    border-radius: 30px;
}

.form-horizontal .form-group{ margin: 0 0 15px; }
.form-horizontal label{ font-size: 15px; }
.form-horizontal .form-control{
    width: 100%;
    color: darkblue;
    background-color: transparent;
    font-size: 16px;
    letter-spacing: 1px;
    height: 40px;
    padding: 2px 15px 2px 15px;
    border: 1px, solid, darkblue;
    border-radius: 10px;
}
